<div class="login">
  <h1>{{title}}</h1>
  <p>{{subTitle}}</p>
  <div *ngIf="!dataSession" class="login__container">
    <form [formGroup]="form" (submit)="sendLogin()" class="login__form">
      <div class="login__form-group">
        <label>Email</label>
        <input formControlName="email" type="text">
      </div>
      <div class="login__form-group">
        <label>Passsword</label>
        <input formControlName="password" type="text">
      </div>

      <div class="login__form-group">
        <label>{{checkHuman[0]}} + {{checkHuman[1]}} = </label>
        <input formControlName="result" type="text">
      </div>
      <div class="login__form-group">
        <button [disabled]="form.invalid" class="btn">Enviar</button>
      </div>

      <div class="login__alert" *ngIf="isCheck === 'ERROR_USER'">
        Usuario o Contraseña incorrecta
      </div>

      <div class="login__alert" *ngIf="isCheck === 'ERROR_CHECK'">
        Operación matematica incorrecta
      </div>
    </form>
  </div>

  <h3> valor del formulario {{form.value | json}}</h3>
  <h3> formulario valido {{form.valid | json }}</h3>
  <h3> errores del campo password {{form.get('password')?.errors | json }}</h3>
  <h3> errores del campo password por tipo {{form.get('password')?.hasError('password') | json }}</h3>
  <div *ngIf="dataSession">
    <div>
      <h3>{{dataSession | json}}</h3>
    </div>
  </div>


</div>